body {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0;
  padding: 2rem;
}

#push-button {
  animation: vanish-move 5s linear infinite;
  background-color: skyblue;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

@keyframes vanish-move {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(25vw);
  }
}
