body {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0;
  padding: 2rem;
}

#click-button {
  animation: click-me 5s linear 0s infinite normal backwards;
  background-color: #425161;
  border-radius: 10px;
  border-style: none;
  color: white;
  height: 50px;
  width: 100px;
}

@keyframes click-me {
  to {
    transform: translate(30vw);
  }
}

@keyframes vanish-move {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

#push-button {
  animation: vanish-move 5s linear infinite;
  background-color: skyblue;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

@keyframes vanish-move {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(25vw);
  }
}

.push-here {
  animation: smart-rotate 5s linear infinite;
  background-color: steelblue;
  border: none;
  border-radius: 0.5rem;
  color: white;
  padding: 1.5rem 3rem;
}

@keyframes smart-rotate {
  from {
    transform: translate(-100%) rotate(-360deg);
  }

  to {
    transform: translateX(25vw);
  }
}
