h1 {
  color: lightskyblue;
  text-align: center;
}

.avion1 {
  border-radius: 200px;
  rotate: 330deg;
}

.avion2 {
  rotate: 350deg;
  transform: rotateX(70deg);
  translate: 350px;
}

.avion3 {
  border-radius: 150px;
  rotate: 290deg;
  transform: rotateX(60deg);
  translate: 850px;
}

.container {
  border: 2px red solid;
}
