h1 {
  color: lightskyblue;
  text-align: center;
}

h2 {
  color: lightskyblue;
  text-align: center;
}

.avion1 {
  border-radius: 200px;
  rotate: 330deg;
}

.avion2 {
  rotate: 350deg;
  transform: rotateX(70deg);
  translate: 350px -50px;
}

.avion3 {
  border-radius: 150px;
  rotate: 290deg;
  transform: rotateX(65deg);
  translate: 850px -50px;
}

.container {
  border: 2px red solid;
}

.section2 {
  border: 2px red solid;
  height: 30vh;
}

.jet1 {
  border-radius: 200px;
  rotate: 50deg;
  scale: 1.5;
  translate: 50px 70px;
}

.jet2 {
  rotate: 15deg;
  transform: rotateX(140deg);
  translate: 490px 50px;
}

.jet3 {
  rotate: 310deg;
  transform: rotateX(45deg);
  translate: 990px 50px;
}

.text {
  text-align: center;
}

.patch1 {
  color: red;
  display: inline-block;
  transform: translate(15px, -10px);
}

.patch2 {
  color: red;
  display: inline-block;
  transform: translate(30px);
}

.patch3 {
  color: red;
  display: inline-block;
  transform: translate(5px, 10px);
}

.patch4 {
  color: red;
  display: inline-block;
  scale: 0.7;
}
