h2 {
  color: slateblue;
  font-family: 'Abril Fatface', serif;
  font-style: normal;
  font-weight: 400;
}

#know {
  color: yellowgreen;
}

#peace {
  color: blue;
}

#health {
  color: brown;
}

#love {
  color: violet;
}

#money {
  color: tomato;
}

#job {
  color: teal;
}

#bike {
  color: orange;
}

#body {
  color: chocolate;
}

#tattod {
  color: blueviolet;
}

#challenges {
  color: springgreen;
}
